{% extends 'base.html' %}

{% load static %}
<script src="{% static 'bill_view.js' %}"></script>

{% block heading %}My Bill ID:{{bill_id}}{% endblock heading %}


{% block body %}


<div id="bill_view">
    <table class="w-100 mx-0">
        <div id="bill_header">
            <tr>
                <td class="text-start" colspan="2">
                    <label class="text-end border-0" style="width:150px;" for="bill_id">Bill ID:</label>
                    <input class="text-start" disabled="true" type="text" name="bill_id" id="bill_id" value='{{bill_id}}'}>
                </td>
                <td class="text-end" colspan="3">
                    <label style="width:150px;" class="text-end border-0" for="bill_date">Bill Date:</label>
                    <input disabled="true" class="text-start" type="text" name="bill_date" id="bill_date" value='{{bill_date}}'>
                </td>
            </tr>
            <tr>
                <td class="text-start" colspan="3">
                    <label class="text-end border-0" style="width:150px;" for="customer_name">Customer Name:</label>
                    <input disabled="true" type="text" class="text-start" name="customer_name" id="customer_name" value='{{bill_customer_name}}'>
                </td>
            </tr>
        </div>
        <tr class="border_table bill_body">
            <th style="width: 5%;">Item Id</th>
            <th style="width: 50%;">Item Name</th>
            <th style="width: 5%;">Quantity</th>
            <th style="width: 15%;">Rate</th>
            <th style="width: 25%;">Amount</th>
        </tr>
        <tr class="border_table bill_body">
            <td>{{item_id}}</td>
            <td>{{item_name}}</td>
            <td id="item_quantity">{{item_quantity}}</td>
            <td id="item_rate" class="text-end">{{item_rate}}</td>
            <td id="amount" class="text-end"></td>
        </tr>
        <div id="bill_footer">
            <tr>
                <td class="text-end" colspan="5">
                <label class="h1 text-end border-0" for="bill_amt">Total Amount:</label>
                <input class="h1 w-25 text-end" disabled="true" id="bill_amt" name="bill_amt">
                </td>
            </tr>
            </div>
    </table>
</div>

<h4><a href="/my_bills" class="text-decoration-none float-start">Back</a></h4>
<h2><a href="/new_bill" class="text-decoration-none float-end">New Bill</a></h2>
<script>
    var quantity = Number(document.getElementById("item_quantity").innerHTML);
    var rate = Number(document.getElementById("item_rate").innerHTML);
    document.getElementById("amount").innerHTML = quantity*rate;
    document.getElementById("bill_amt").value = quantity*rate;
    function q_change(){
        var quantity = (document.getElementById("item_quantity").value);
        console.log(quantity);
        var rate = (document.getElementById("item_rate").value);
        console.log(rate);
        document.getElementById("amount").innerHTML = quantity*rate;
        document.getElementById("bill_amt").value = quantity*rate;
    }
</script>

{% endblock body %}
